    {% extends 'base.html.twig' %}

    {% block title %}Edit Occupation {% endblock %}

    {% block body %}
    <h1>Edit Occupation</h1>

    {% embed 'occupation/partial/form.html.twig' %}
    {% endembed %}

    {% endblock %}

    {% block javascripts %}
    {% include '@NinesEditor/editor/widget.html.twig' %}
    {% endblock %}
