{% extends 'base.html.twig' %}

    {% block title %}New Reference {% endblock %}

    {% block body %}
        <h1>New Reference</h1>

        {% embed 'reference/partial/form.html.twig' %}
        {% endembed %}

    {% endblock %}

    {% block javascripts %}
        {% include '@NinesEditor/editor/widget.html.twig' %}
    {% endblock %}
