{% extends 'base.html.twig' %}

{% block title %}Reference Details {% endblock %}

 {% block pageheader %}
     <h1>Reference Details</h1>
 {% endblock %}

{% block body %}

    {% if is_granted('ROLE_CONTENT_ADMIN') %}
        <div class='btn-toolbar pull-right'>
            <div class='btn-group'>
                <a href="{{ path('reference_edit', {'id': reference.id }) }}" class="btn btn-default">
                    <span class="glyphicon glyphicon-edit"></span> Edit </a>
            </div>
        </div>
    {% endif %}

    {% embed 'reference/partial/detail.html.twig' %}
    {% endembed %}

{% endblock %}
